.notes{
  background-color: #c0f07a;
  border-radius: 10px 10px 10px 10px;
  color:#fff;

    font-size: 2em;
    margin: 5px;

  height: 1em;
  padding:1em;
  text-align: center;


}
.completed{
  text-decoration: line-through;
}
h1 {
    text-align: center;
}
